.prettierrc.js
.prettierrc.json
next.config.js
dist
build
node_modules
coverage
public/static
.git
.env
.env.local
.env.development
.env.production
__tests__
*.spec.js
*.test.js
*.test.ts
*.test.tsx
docs
README.md
